.App {
  text-align: center;
  background: linear-gradient(#11111d, #071f09);
  color:beige;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

a {
  text-decoration: none;
  color: #fff;
}

.hero_wrapper {
  display:grid;
  grid-gap:20px;
  grid-template-areas: 
    'showcase showcase showcase showcase'
    'showcase showcase showcase showcase'
    'showcase showcase showcase showcase'
    ;
  padding-top: 50px;
}
.hero_item {
  grid-area: showcase;
  display:flex;
  height:400px;
  background: #1C242D;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.hero_item:hover {
  background:#212a35;
}
.heroleft {
  display:flex;
  width:30%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
}
.herocenter {
  display:flex;
  width:40%;
  align-items: center;
  flex-direction: column;
}
.heroright {
  font-size: 2rem;
  display:flex;
  width:30%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.herodiv {
  max-width: 20rem;
  padding:1rem;
  background: #1C242D;
  grid-template-columns:repeat(4, 1fr);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.herodiv:hover {
  background:#212a35;
  cursor: pointer;
}
.heroImg {
  margin-top:2rem;
}
.heroPic {
  width:300px;
  height:200px;
}





/* NAVBAR */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 12vh;
  background: #262729;
  color: #000;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 20px 35px;
  border-bottom: 1px solid black;
  position: fixed;
  top: 0px;
  width: 100vw;
}

nav {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 100000;
}

.navMenu {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1.8px;
}

.navItem:hover {
  color: #0f0f0f;
  cursor: pointer;
}

.navMenu > li:hover {
  color: #0f0f0f;
  cursor: pointer;
}

.menu-button {
  padding: 12px 20px;
  background: #ff9000;
  border-radius: 10px;
  border: 2px solid #000;
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.menu-button:hover {
  padding: 12px 20px;
  background: #fd9e21;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

a {
  text-decoration: none;
  color: #000;
  transition: 0.5s;

}

.navItem:hover {
  color: #0f0f0f;
  cursor: pointer;
}

.navItem:hover {
  color: red;
  cursor: pointer;
}

/* ABOUT US */

.about-wrapper {
  padding-top: 200px;
  background: linear-gradient(#11111d, #071f09);
  width: 100%;
  color: #fff;
  height: 100vh;
}
.sortSection {
  display: flex;
  justify-content: space-evenly;
  width:60vw;
}
.sortContainer {
  margin-top:250px;
}

.sort_button {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1.4px;
  padding: 12px 20px;
  border-radius: 10px;
  border: 2px solid #000;
  background:#ff9000;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 6px 6px, rgba(0, 0, 0, 0.12) 0px -6px 6px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 4px 5px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.friends {
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
  text-align: center;
}

.persons {
  display: flex;
  flex-direction: column;
  color: #ff9000;
}

.persons > img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.about-wrapper > h1 {
  color: #ff9000;
}


/* HOME */
.home {
  display: flex;
  padding: 200px 8% 8% 8%;
  height: 100vh;
}

.left-column {
  width: 60%;
  padding: 0px 30px 0px 30px;
}

.center-column {
  width: 20%;
  display: flex;
  flex-direction: column;
  padding: 0px 30px 0px 30px;
  border-right: 2px solid rgba(0, 0, 0, 0.377);
  border-left: 2px solid rgba(0, 0, 0, 0.377);
}

.right-column {
  width: 20%;
  text-align: center;
  padding: 0px 30px 0px 30px;
}

.title {
  color: #ff9000;
}

.logos {
  width: 80px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  -webkit-filter: drop-shadow(5px 5px 5px #000000);
  filter: drop-shadow(5px 5px 5px #000000);
  z-index: 1;
}

.small-button {
  font-weight: 700;
  padding: 10px 20px;
  background: #ff9000;
  border-radius: 10px;
  border: 2px solid #000;
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.small-button:hover {
  padding: 10px 20px;
  background: #fd9e21;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.small-button > a {
  font-weight: 700;
} 

.stats {
  padding-top: 50px;
}

/* FOOTER */
.footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  background: #262729;
  bottom: 0px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-top: 1px solid black;
  color: #fd9e21;
}

.footer > div {
  padding-top: 40px;
}